#!/usr/local/bin/pug load

zsh from: https://github.com/zsh-users/zsh-autosuggestions.git
zsh github: zsh-users/zsh-syntax-highlighting
vim github: ctrlpvim/ctrlp.vim
vim github: tpope/vim-fireplace
vim github: guns/vim-sexp
