#!/usr/local/bin/pug load

# ZSH
zsh github: zsh-users/zsh-autosuggestions
zsh github: zsh-users/zsh-syntax-highlighting

# Vim Plugins
vim github: ctrlpvim/ctrlp.vim
vim github: tpope/vim-fireplace
vim github: guns/vim-sexp
vim github: ervandew/supertab
vim github: jiangmiao/auto-pairs
vim github: vim-syntastic/syntastic
vim github: rhysd/vim-crystal
vim github: itchyny/lightline.vim
vim github: mgee/lightline-bufferline

# Vim Syntax files

vim github: udalov/kotlin-vim
vim github: keith/swift.vim
vim github: elixir-editors/vim-elixir
vim github: kchmck/vim-coffee-script
vim github: fatih/vim-go

# Vim/ tmux navigation

vim github: javanut13/vim-tmux-navigator
tmux github: javanut13/vim-tmux-navigator
